/* MDS Chart Colors: Single Hue.tokens — sinh tự động bởi scripts/build-tokens.py, không sửa tay */
:root {
  --mds-chart-blue-1: #245FDF;
  --mds-chart-blue-2: #5481F2;
  --mds-chart-blue-3: #7693F5;
  --mds-chart-blue-4: #93A6F8;
  --mds-chart-blue-5: #ADB9FB;
  --mds-chart-blue-6: #C5CCFD;
  --mds-chart-blue-7: #DCE0FF;
  --mds-chart-green-1: #0E9A62;
  --mds-chart-green-2: #3CA669;
  --mds-chart-green-3: #5CB47C;
  --mds-chart-green-4: #78C291;
  --mds-chart-green-5: #92D0A5;
  --mds-chart-green-6: #ACDEBB;
  --mds-chart-green-7: #C5ECD0;
  --mds-chart-blue-gray-1: #4E5BA6;
  --mds-chart-blue-gray-2: #595E98;
  --mds-chart-blue-gray-3: #7476AC;
  --mds-chart-blue-gray-4: #8E8FC0;
  --mds-chart-blue-gray-5: #A9A9D5;
  --mds-chart-blue-gray-6: #C4C4EA;
  --mds-chart-blue-gray-7: #E0DFFF;
  --mds-chart-teal-1: #0E9384;
  --mds-chart-teal-2: #43C0A9;
  --mds-chart-teal-3: #5FC9B4;
  --mds-chart-teal-4: #77D2BF;
  --mds-chart-teal-5: #8DDBCA;
  --mds-chart-teal-6: #A3E4D5;
  --mds-chart-teal-7: #B7EDE0;
  --mds-chart-cyan-1: #00A2CF;
  --mds-chart-cyan-2: #41B8DB;
  --mds-chart-cyan-3: #5FC2E2;
  --mds-chart-cyan-4: #77CCE9;
  --mds-chart-cyan-5: #8DD6F0;
  --mds-chart-cyan-6: #A1E1F8;
  --mds-chart-cyan-7: #B5EBFF;
  --mds-chart-indigo-1: #4155F5;
  --mds-chart-indigo-2: #7D83F5;
  --mds-chart-indigo-3: #9494F8;
  --mds-chart-indigo-4: #A9A6FA;
  --mds-chart-indigo-5: #BDB8FC;
  --mds-chart-indigo-6: #D0CBFD;
  --mds-chart-indigo-7: #E2DEFF;
  --mds-chart-purple-1: #744EC7;
  --mds-chart-purple-2: #926FFA;
  --mds-chart-purple-3: #A685FB;
  --mds-chart-purple-4: #B99AFC;
  --mds-chart-purple-5: #CBB0FD;
  --mds-chart-purple-6: #DBC6FE;
  --mds-chart-purple-7: #EADDFF;
  --mds-chart-pink-1: #C64691;
  --mds-chart-pink-2: #F883CE;
  --mds-chart-pink-3: #FA94D5;
  --mds-chart-pink-4: #FCA5DC;
  --mds-chart-pink-5: #FDB6E2;
  --mds-chart-pink-6: #FEC6E9;
  --mds-chart-pink-7: #FFD6EF;
  --mds-chart-ros-1: #C34266;
  --mds-chart-ros-2: #FF829B;
  --mds-chart-ros-3: #FF93A8;
  --mds-chart-ros-4: #FFA4B5;
  --mds-chart-ros-5: #FFB5C2;
  --mds-chart-ros-6: #FFC5CF;
  --mds-chart-ros-7: #FFD5DC;
  --mds-chart-orange-1: #CD6731;
  --mds-chart-orange-2: #FF9451;
  --mds-chart-orange-3: #FFA268;
  --mds-chart-orange-4: #FFB07E;
  --mds-chart-orange-5: #FFBE95;
  --mds-chart-orange-6: #FFCCAC;
  --mds-chart-orange-7: #FFDAC4;
}
