/* MDS Chart Colors: Divergent.tokens — sinh tự động bởi scripts/build-tokens.py, không sửa tay */
:root {
  --mds-chart-blue-1: #245FDF;
  --mds-chart-blue-2: #AD8AE7;
  --mds-chart-blue-3: #E6B2E4;
  --mds-chart-blue-4: #FFE4F1;
  --mds-chart-blue-5: #FFCDD0;
  --mds-chart-blue-6: #FFC28E;
  --mds-chart-blue-7: #FFCC42;
  --mds-chart-green-1: #0E9A62;
  --mds-chart-green-2: #77B967;
  --mds-chart-green-3: #BED984;
  --mds-chart-green-4: #FFF9AC;
  --mds-chart-green-5: #FBD57C;
  --mds-chart-green-6: #FAAE55;
  --mds-chart-green-7: #F9823E;
  --mds-chart-blue-gray-1: #4E5BA6;
  --mds-chart-blue-gray-2: #8B71A3;
  --mds-chart-blue-gray-3: #CAA2C3;
  --mds-chart-blue-gray-4: #FFDAEA;
  --mds-chart-blue-gray-5: #FFCDCC;
  --mds-chart-blue-gray-6: #FFC8A4;
  --mds-chart-blue-gray-7: #E9CC81;
  --mds-chart-teal-1: #0E9384;
  --mds-chart-teal-2: #73D09F;
  --mds-chart-teal-3: #B1E8A4;
  --mds-chart-teal-4: #EDFFB2;
  --mds-chart-teal-5: #F0DF82;
  --mds-chart-teal-6: #F8BB5C;
  --mds-chart-teal-7: #FF9248;
  --mds-chart-cyan-1: #00A2CF;
  --mds-chart-cyan-2: #42CBD7;
  --mds-chart-cyan-3: #7BE6D6;
  --mds-chart-cyan-4: #B5FFD6;
  --mds-chart-cyan-5: #C2F1A5;
  --mds-chart-cyan-6: #DEDD77;
  --mds-chart-cyan-7: #FFC259;
  --mds-chart-indigo-1: #4155F5;
  --mds-chart-indigo-2: #BE89E7;
  --mds-chart-indigo-3: #EBADE1;
  --mds-chart-indigo-4: #FFDAEA;
  --mds-chart-indigo-5: #FFC9C9;
  --mds-chart-indigo-6: #FFBE57;
  --mds-chart-indigo-7: #FFCE4E;
  --mds-chart-purple-1: #744EC7;
  --mds-chart-purple-2: #DE70D5;
  --mds-chart-purple-3: #FFA3C6;
  --mds-chart-purple-4: #FFDBDC;
  --mds-chart-purple-5: #FFD4C3;
  --mds-chart-purple-6: #FFD698;
  --mds-chart-purple-7: #FFE471;
  --mds-chart-pink-1: #C64691;
  --mds-chart-pink-2: #FF91A3;
  --mds-chart-pink-3: #FFBD9F;
  --mds-chart-pink-4: #FFE8A1;
  --mds-chart-pink-5: #FFE8A1;
  --mds-chart-pink-6: #F3F186;
  --mds-chart-pink-7: #C9FB4D;
  --mds-chart-ros-1: #C34266;
  --mds-chart-ros-2: #FF9A81;
  --mds-chart-ros-3: #FFC58C;
  --mds-chart-ros-4: #FFEDAE;
  --mds-chart-ros-5: #E9EE95;
  --mds-chart-ros-6: #C7F184;
  --mds-chart-ros-7: #93F57F;
  --mds-chart-orange-1: #CD6731;
  --mds-chart-orange-2: #F7B350;
  --mds-chart-orange-3: #F1DB7B;
  --mds-chart-orange-4: #F0FEB1;
  --mds-chart-orange-5: #B8E7A5;
  --mds-chart-orange-6: #80CF9F;
  --mds-chart-orange-7: #43B69C;
}
