/* MDS Chart Colors: Palette.tokens — sinh tự động bởi scripts/build-tokens.py, không sửa tay */
:root {
  --mds-chart-blue-1: #245FDF;
  --mds-chart-blue-2: #AD63E1;
  --mds-chart-blue-3: #F157C0;
  --mds-chart-blue-4: #FF5F96;
  --mds-chart-blue-5: #FF7E6D;
  --mds-chart-blue-6: #FFA54D;
  --mds-chart-blue-7: #FFCC42;
  --mds-chart-green-1: #0E9A62;
  --mds-chart-green-2: #4D9A3E;
  --mds-chart-green-3: #759A28;
  --mds-chart-green-4: #989815;
  --mds-chart-green-5: #BB9311;
  --mds-chart-green-6: #DB8C24;
  --mds-chart-green-7: #F9823E;
  --mds-chart-blue-gray-1: #4E5BA6;
  --mds-chart-blue-gray-2: #7B4F8A;
  --mds-chart-blue-gray-3: #AA5B87;
  --mds-chart-blue-gray-4: #CC6E7F;
  --mds-chart-blue-gray-5: #E28977;
  --mds-chart-blue-gray-6: #EBA975;
  --mds-chart-blue-gray-7: #E9CC81;
  --mds-chart-teal-1: #0E9384;
  --mds-chart-teal-2: #4BB882;
  --mds-chart-teal-3: #72B765;
  --mds-chart-teal-4: #97B34B;
  --mds-chart-teal-5: #BBAC39;
  --mds-chart-teal-6: #DEA137;
  --mds-chart-teal-7: #FF9248;
  --mds-chart-cyan-1: #00A2CF;
  --mds-chart-cyan-2: #00BAC7;
  --mds-chart-cyan-3: #08C4AE;
  --mds-chart-cyan-4: #5ECA8E;
  --mds-chart-cyan-5: #96CD6F;
  --mds-chart-cyan-6: #CBCA5A;
  --mds-chart-cyan-7: #FFC259;
  --mds-chart-indigo-1: #4155F5;
  --mds-chart-indigo-2: #C465DF;
  --mds-chart-indigo-3: #FD5DBC;
  --mds-chart-indigo-4: #FF6994;
  --mds-chart-indigo-5: #FF876F;
  --mds-chart-indigo-6: #FFAB54;
  --mds-chart-indigo-7: #FFCE4E;
  --mds-chart-purple-1: #744EC7;
  --mds-chart-purple-2: #DD46D5;
  --mds-chart-purple-3: #FF48AA;
  --mds-chart-purple-4: #FF6A83;
  --mds-chart-purple-5: #FF9567;
  --mds-chart-purple-6: #FFBF5E;
  --mds-chart-purple-7: #FFE471;
  --mds-chart-pink-1: #C64691;
  --mds-chart-pink-2: #FF71A7;
  --mds-chart-pink-3: #FF8181;
  --mds-chart-pink-4: #FF9D5D;
  --mds-chart-pink-5: #FFBD3D;
  --mds-chart-pink-6: #F9DE30;
  --mds-chart-pink-7: #C9FB4D;
  --mds-chart-ros-1: #C34266;
  --mds-chart-ros-2: #FF7F73;
  --mds-chart-ros-3: #FF955A;
  --mds-chart-ros-4: #F9AF48;
  --mds-chart-ros-5: #E1C846;
  --mds-chart-ros-6: #C0E059;
  --mds-chart-ros-7: #93F57F;
  --mds-chart-orange-1: #CD6731;
  --mds-chart-orange-2: #DC9829;
  --mds-chart-orange-3: #BAA52F;
  --mds-chart-orange-4: #98AE45;
  --mds-chart-orange-5: #77B463;
  --mds-chart-orange-6: #59B681;
  --mds-chart-orange-7: #43B69C;
}
